AIRTABLE_API_KEY=your_airtable_api_key_here
AIRTABLE_BASE_ID=appg245A41MWc6Rej
AIRTABLE_USERS_TABLE=Users
AIRTABLE_GAMES_TABLE=Games
AIRTABLE_POSTS_TABLE=Posts
PORT=3001
NODE_ENV=development
RACK_ATTACK_BYPASS=04cfb6fb-bb7a-41a4-b6fb-d3a9368c99c7


